{% extends 'base/base2.html' %}
{% block 'title' %} Forgot Password {% endblock %}
{% load static %}
{% block 'body' %}
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch  auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo text-center">
                <img src="{% static 'assets/images/logo.png' %}" alt="logo" >
                  <span style="font-family: 'Open Sans', sans-serif; font-size: 60px; display: block;" >Tropical Rest</span>
              </div>
              {% include 'component/message.html' %}
              <h6 class="font-weight-bolder" style="font-size: 20px; color: red">Forgot password? No worries...</h6>
              <p class="mb-4">We get it, stuff happens. Just enter your username and master password below and we'll reset your password!</p>
              <form class="pt-3" method="post" action="{% url 'reset' %}">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>
                    <select name="user" class="form-control form-control-lg border-left-0" required style="color: black">
                        <option value="" selected >Select User</option>
                        {% for u in user %}
                        <option value="{{u.id}}" >{{u.username}}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input class="form-control form-control-lg border-left-0" type="password" required aria-describedby="passHelp" placeholder="Enter Master password" name="mpass">
                  </div>
                </div>
                  {% csrf_token %}
                <div class="text-center mt-4 font-weight-light">
                  <a href="{% url 'signin' %}" class="text-primary">Want to Login instead?</a>
                </div>
                <div class="my-3">
                  <button type="submit" class="btn btn-block btn-danger btn-lg font-weight-medium auth-form-btn" >Reset Password</button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="{% url 'register' %}" class="text-primary">Create</a>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2020 Tropical Rest - All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
{% endblock %}
