{% extends 'base/base.html' %}
{% load mathfilters %}
{% block 'title' %} Bill {% endblock %}

{% block 'body' %}
    <div class="row ">
                    <div class="col-md-6">
                        <div class="card card-body" >
                            <h3><b>INVOICE</b> <span class="float-right">#TROP{{billno.number}}</span></h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        <address style="float: left ">
                                                <h3> &nbsp;<b class="text-danger">Tropical Rest</b></h3>
                                            <p class="text-muted m-l-5">Shwaymbhu, Kathmandu</p><br>
                                               Bill No: <span class="font-weight-bold">TROP{{billno.number}}</span><br>
                                               Cashier: <span class="font-weight-bold">{{request.user}}</span>
                                        </address>
                                    </div>
                                    <div class="float-right text-right">
                                        <address>
                                            <h3>To,</h3>
                                            <h4 class="font-bold">Table - {{table.title}}</h4>
                                            <p class="text-muted m-l-30">Tropical Rest
                                            <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> <span id="todaydate"></span></p>
                                            <p><b>Invoice Time :</b> <i class="fa fa-clock-o"></i> <span id="currtime"></span></p>
                                        </address>
                                    </div>
                                </div>
                                <div class="col-md-12" >
                                    <div class="table-responsive m-t-40" style="clear: both;">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="item"><b>#</b></th>
                                                    <th class="item"><b>Item</b></th>
                                                    <th class="Hours"><b>Qty</b></th>
                                                    <th class="Rate"><b>Unit Cost</b></th>
                                                    <th class="Rate"><b>Sub Total</b></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{ forloop.counter }}
                                                    <script type="text/javascript"> var total = 0; </script>
                                                    {% for o in order %}
                                                <tr class="service">
                                                    <td class="tableitem"><p class="itemtext">{{forloop.counter}}</p></td>
                                                    <td class="tableitem"><p class="itemtext">{{o.menu.title}}</p></td>
                                                    <td class="tableitem"><p class="itemtext">{{o.quantity}}</p></td>
                                                    <td class="tableitem"><p class="itemtext">Rs. {{o.menu.price}}/-</p></td>
                                                    <td class="tableitem"><p class="itemtext">Rs. {{o.quantity|mul:o.menu.price}}/-
                                                        <script type="text/javascript"> var total = total + {{o.quantity|mul:o.menu.price}};  </script>
                                                    </p></td>
                                                </tr>
                                                    {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr class="tabletitle font-weight-bold h4">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td id="distol">Net Total</td>
                                                    <td id="disrs">Rs. <span id="totalamt" ></span>/-</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-center m-t-30">
                                        <strong>Thank you for being here!</strong> <br> All Rights Reserved! ©Tropical Rest <span id="curyrs"></span>
                                        <br>POS System Designed by Nisham Wagle.
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="text-right">
                                        <form action="{% url 'releaseTable' table.id %}" method="post">
                                            <input type="text" name="totalamount" id="finalamt" hidden />
                                            <input type="text" name="billnum" value="TROP{{billno.number}}" hidden />
                                            {% csrf_token %}
                                           <input type="number" min="1" max="100" id="discount" style=" width: 200px !important; float: left; color: red; font-weight: bolder"  class="form-control" placeholder=" Enter Discount%...">
                                        <button class="btn btn-success" id="releaseTable" style="float: right;" type="submit" ><i class="fa fa-check" onclick="return confirm('Are you sure want to proceed?');"></i> Release Table </button>
                                        <button id="btnPrint" class="btn btn-danger " type="button" onclick="CallPrint('receipt')"> <span><i class="fa fa-print"></i> Print Receipt</span> </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    <div hidden id="receipt">

  <div id="invoice-POS">

    <div id="top">
      <div></div>
      <div class="info">
        <p ><span style="font-weight: bold; font-size: 30px">Tropical Rest</span><br>
            <b>Kathmandu, Nepal</b><br><br>
            <span style="font-weight: bold; font-size: 20px">Table - {{table.title}}</span>
        </p>
      </div><!--End Info-->
    </div><!--End InvoiceTop-->
      <hr style="color: black;">
    <div id="mid">
      <div class="info" style="text-align: left !important;">
        <p>
            <br><span style="font-weight: bold">Pan No    : 304231173</span>
            <br>Bill No   : <span>#TROP{{billno.number}}</span>
            <br>Date      : <span id="todaydate1"></span>
            <br>Time      : <span id="currtime1"></span>
            <br>Cashier   : <span>@{{request.user}}</span>
        </p>
      </div>
    </div><!--End Invoice Mid-->
      <hr style="color: black;">
    <div id="bot">

					<div id="table" style="justify-content: center; width: 80mm !important;" >
						<table  style="text-align: left !important;">
							<tr class="tabletitle" style="padding: 4px !important;">
								<td><h4>S.N.</h4></td>
								<td><h4>Ordered Item</h4></td>
								<td><h4>Qty</h4></td>
								<td><h4>Unit Cost</h4></td>
								<td><h4>Sub Total</h4></td>
							</tr>
                            {{ forloop.counter }}
                                {% for o in order %}
                            <tr class="service">
                                <td><p class="itemtext">{{forloop.counter}}</p></td>
                                <td><p class="itemtext" style="font-weight: bold;">{{o.menu.title}}</p></td>
                                <td width="40px"><p class="itemtext">{{o.quantity}}</p></td>
                                <td class="tableitem"><p class="itemtext">{{o.menu.price}}</p></td>
                                <td class="tableitem"><p class="itemtext">{{o.quantity|mul:o.menu.price}}</p></td>
                            </tr>
                                {% endfor %}



						</table>
					</div><!--End Table-->
        <br>
                    <div style="float: right; width: 75mm !important;">
                        <h4 style="text-align: right">Net Total = Rs. <span id="totalamt1"></span>/-</h4>
                        <span id="discounted">
                            <h4 style="text-align: right">Discount = <span id="disamt"></span>%</h4>
                            <h3 style="text-align: right">Grand Total = Rs. <span id="grdttl"></span>/-</h3>
                        </span>
                    </div>
        <br>
        <hr>
					<div id="legalcopy">
						<p class="legal"><strong>Thank you for being here!</strong> <br> All Rights Reserved! ©Tropical Rest <span id="curyrs1"></span>
                                        <br>POS System Designed by Nisham Wagle.
						</p>
					</div>

				</div><!--End InvoiceBot-->
  </div><!--End Invoice-->

    </div>


<script type="text/javascript">



    document.getElementById('finalamt').value = total;
    var grdtotal;
    function CallPrint(strid) {
        if (document.getElementById('discount').value != 0){
            grdtotal = total-(document.getElementById('discount').value/100)*total;
            grdtotal =Math.ceil(grdtotal);
            document.getElementById('disamt').innerHTML = document.getElementById('discount').value;
            document.getElementById('grdttl').innerHTML = grdtotal;
            document.getElementById('distol').innerHTML = "Discounted Amount";
            document.getElementById('disrs').innerHTML = "Rs. "+grdtotal+"/-";

        }
        else if(document.getElementById('discount').value == "") {
            grdtotal = total;
            document.getElementById('distol').innerHTML = "Net Total";
            document.getElementById('disrs').innerHTML = "Rs. "+grdtotal+"/-";
            document.getElementById('discounted').setAttribute('hidden',"true");
        }


            var restorepage = document.body.innerHTML;
            var prtContent = document.getElementById(strid);
            var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=800,toolbar=1,scrollbars=1,status=0');
            WinPrint.document.write('<html><head><style>#invoice-POS{\n' +
                '  padding:2mm;\n' +
                '  margin: 0 auto;\n' +
                '  width: 74mm;\n' +
                '  background: #FFF;\n' +
                '  \n' +
                '  \n' +
                '::selection {background: #f31544; color: #FFF;}\n' +
                '::moz-selection {background: #f31544; color: #FFF;}\n' +
                'h1{\n' +
                '  font-size: 1.5em;\n' +
                '  color: #222;\n' +
                '}\n' +
                'h2{font-size: .9em;}\n' +
                'h3{\n' +
                '  font-size: 1.2em;\n' +
                '  font-weight: 300;\n' +
                '  line-height: 2em;\n' +
                '}\n' +
                'p{\n' +
                '  font-size: .7em;\n' +
                '  color: #666;\n' +
                '  line-height: 1.2em;\n' +
                '}\n' +
                ' \n' +
                '#top, #mid,#bot{ /* Targets all id with \'col-\' */\n' +
                '  border-bottom: 1px solid #EEE;\n' +
                '}\n' +
                '\n' +
                '#top{min-height: 100px;}\n' +
                '#mid{min-height: 80px;} \n' +
                '#bot{ min-height: 50px;}\n' +
                '\n' +
                '#top .logo{\n' +
                '  //float: left;\n' +
                '\theight: 60px;\n' +
                '\twidth: 60px;\n' +
                '\tbackground-size: 60px 60px;\n' +
                '}\n' +

                '}</style></head>');
            WinPrint.document.write('<body style="fonts-family:verdana; fonts-size:14px;width:110px;height:200px; text-align: center;" >');
            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.write('</body></html>');
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            // WinPrint.close();
            prtContent.innerHTML = "";
            document.body.innerHTML = restorepage;
            pass(grdtotal,);

    }
    function pass(val) {
        document.getElementById('finalamt').value = val;
    }
</script>
<script>
    var today = new Date();
    var date = today.getFullYear()+'/'+(today.getMonth()+1)+'/'+today.getDate();
    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    document.getElementById('todaydate').innerHTML = date;
    document.getElementById('todaydate1').innerHTML = date;
    document.getElementById('totalamt').innerHTML = total;
    document.getElementById('totalamt1').innerHTML = total;
    document.getElementById('currtime').innerHTML = time;
    document.getElementById('currtime1').innerHTML = time;
    document.getElementById('curyrs').innerHTML = today.getFullYear();
</script>



{% endblock %}