{% extends 'base/base.html' %}
{% block 'title' %}Profile{% endblock %}
{% block 'body' %}
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <center class="m-t-30"> <img src="{{ request.user.profilepic.image.url }}" class="img-circle" width="150" />
                    <h4 class="card-title m-t-10">{{ user.first_name }} {{ user.last_name }}</h4>
                    <h6 class="card-subtitle">{% if user.is_superuser %}Admin{% elif user.is_staff %}Cashier{% else %}Waiter{% endif %}</h6>
                </center>
            </div>
            <div>
                <hr> </div>
            <div class="card-body"> <small class="text-muted">Username </small>
                <h6>{{ user }}</h6> <small class="text-muted p-t-30 db">Phone</small>
                <h6>+977 {{ user.profilepic.phonenumber }}</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Profile</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!--second tab-->
                <div class="tab-pane active" id="profile" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Full Name</strong>
                                <br>
                                <p class="text-muted">{{ user.first_name }} {{ user.last_name }}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Mobile</strong>
                                <br>
                                <p class="text-muted">{{ user.profilepic.phonenumber }}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Username</strong>
                                <br>
                                <p class="text-muted">{{ user }}</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>Post</strong>
                                <br>
                                <p class="text-muted">{% if user.is_superuser %}Admin{% elif user.is_staff %}Cashier{% else %}Waiter{% endif %}</p>
                            </div>
                        </div>
                        <h4 class="font-medium m-t-30">Skill Set</h4>
                        <hr>
                        <h5 class="m-t-30">Management <span class="float-right">80%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">Cook <span class="float-right">90%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">Serve <span class="float-right">50%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">Speed <span class="float-right">70%</span></h5>
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
{% endblock %}