{% extends 'base/base.html' %}
{% block 'title' %} Reports {% endblock %}
{% load static %}
{% block 'body' %}

    <div class="row">
        <div class="col-12">
        {% include 'component/message.html' %}
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Reports</h2>
                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                    <div class="table-responsive m-t-40">
                        <table id="example23"
                            class="display nowrap table table-hover table-striped table-bordered"
                            cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Sn.</th>
                                    <th>Bill No.</th>
                                    <th>Table Name</th>
                                    <th>Net Amount</th>
                                    <th>Discount</th>
                                    <th>Total</th>
                                    <th>Payment Method</th>
                                    <th>Cashier</th>
                                    <th>Bill Date & Time</th>
                                    <th>Sync</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Sn.</th>
                                    <th>Bill No.</th>
                                    <th>Table Name</th>
                                    <th>Net Amount</th>
                                    <th>Discount</th>
                                    <th>Total</th>
                                    <th>Payment Method</th>
                                    <th>Cashier</th>
                                    <th>Bill Date & Time</th>
                                    <th>Sync</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                 {{forloop.counter}}
                                 <script type="text/javascript"> var total = 0; </script>
                                 {% for b in bill %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{b.billnum}}</td>
                                    <td>{{b.table.title}}</td>
                                    <td>{{b.amnt}}</td>
                                    <td>{{b.discount}}%</td>
                                    <td>{{b.total_amnt}}</td>
                                    <td>{{b.payment_method}}</td>
                                    <td>{{b.billuser}}</td>
                                    <td>{{b.bill_date}} {{ b.bill_time }}</td>
                                    <td>
                                        {% if b.sync_ird == 1 %}
                                            <span class=" text-success"><i class="fa fa-check"></i> Synced</span>
                                        {% else %}
                                            <a href="{% url 'cbms' b.id %}"><button class="btn btn-danger">Sync</button></a>
                                        {% endif %}
                                    </td>
                                    <script type="text/javascript"> var total = total + {{b.total}};  </script>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
{#                        <a href="{% url 'cbmsmanual' %}"><button class="btn btn-danger"><i class="fa fa-arrow-circle-right"></i> Send Report to CBMS</button></a>#}
                        <a href="{% url 'cbmsauto' %}"><button class="btn btn-danger"><i class="fa fa-arrow-circle-right"></i> Send All Unsynced Report to CBMS</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}