{% extends 'base/base.html' %}
{% load mathfilters %}
{% block 'title' %} Orders {% endblock %}

{% block 'body' %}
<div class="container-fluid">
{% include 'component/message.html' %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-dark mb-1 font-weight-bolder">Table - <b class="text-danger">{% for t in table1 %}{{t.title}},{% endfor %}</b></h1>
                    <h4 class="text-dark mb-1 font-weight-bolder">Current Orders</h4>
                    <p><br></p>
                    <div class="table-responsive ">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>SN.</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Remarks</th>
                                <th>Actions</th>
                                <th>Printed?</th>
                                {% if request.user.is_staff %}
                                    <th>Served?</th>
                                    <th>Total</th>
                                    <th>Ordered by</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {{ forloop.counter }}
                            <script type="text/javascript"> var total = 0; var prtsts = 0; var servests = 0; var count = 0;</script>
                            {% for o in order %}
                               <script type="text/javascript"> count = {{ forloop.counter }};</script>
                                <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{o.menu.title}}</td>
                                <td>
                                    <b>{{o.quantity}}</b> {% if o.printsts == 0 %} |
                                        <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#editqty{{ o.id }}"><i class="fa fa-edit"></i></button>
                                    {% endif %}
                                </td>
                                <td>{{o.remarks}}</td>
                                <td>
                                    {% if o.printsts == 1 %}
                                        {% if request.user.is_staff %}
                                            <a href="{% url 'delitem' o.id %}" onclick="return confirm('Are you sure?');"  style="color: #ff032d;"><button class="btn btn-secondary btn-sm"><i class="fa fa-trash"></i> Remove</button></a>
                                        {% else %}
                                            <button class="btn btn-danger btn-sm" disabled><i class="fa fa-trash"></i> Remove</button>
                                        {% endif %}
                                    {% else %}
                                        <a href="{% url 'delitem' o.id %}" ><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Remove</button></a>
                                    {% endif %}
                                </td>
                            {% if o.printsts == 1 %}
                                <td>
                                {% if o.servests == 0 %}
                                    {% if request.user.is_staff %}
                                        <a href="{% url 'printsts' o.id %}"> <span class="text-success"><i class="fa fa-check"></i> Yes</span></a>
                                    {% else %}
                                        <span class="text-success"><i class="fa fa-check"></i> Yes</span>
                                    {% endif %}
                                {% else %}
                                    <span class="text-success"><i class="fa fa-check"></i> Yes</span>
                                {% endif %}
                                </td>
                            {% else %}
                                <td>
                                    {% if request.user.is_staff %}
                                        <a href="{% url 'unprintsts' o.id %}"> <span class="text-danger"><i class="fa fa-times"></i> No</span></a>
                                    {% else %}
                                        <span style="color: red;"><i class="fa fa-times"></i> No</span>
                                    {% endif %}
                                    <script type="text/javascript">prtsts++;</script>
                                </td>
                            {% endif %}
                            {% if request.user.is_staff %}
                                    {% if o.servests == 0 %}
                                        {% if o.printsts == 1 %}
                                        <td>
                                            <a href="{% url 'serveitem' o.id %}"><button type="submit" class="btn btn-danger"><span class="fa fa-times"></span> Serve</button></a>
                                        </td>
                                        {% else %}
                                           <td>
                                               <span class="text-danger">Print KOT first</span>
                                           </td>
                                        {% endif %}
                                    {% else %}
                                        <script type="text/javascript">servests++;</script>
                                        <td>
                                            <a href="{% url 'unserveitem' o.id %}"><span class="text-success"><span class="fa fa-check"></span> Served</span></a>
                                        </td>
                                    {% endif %}

                                <td>
                                    {{o.quantity}} * {{o.menu.price}} = {{o.quantity|mul:o.menu.price}}
                                </td>
                                <td>
                                    @{{ o.orderedby.username }}
                                </td>
                            {% endif %}
                                <script type="text/javascript"> var total = total + {{o.quantity|mul:o.menu.price}}; prtsts += 1; </script>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="2"><a href="{% url 'addmoreitems' table.id  %}"><button class="btn btn-info btn-sm"><i class="fa fa-plus"></i> Add more items</button></a></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            {% if request.user.is_staff %}
                                <td><b>Total</b></td>
                                <td><b class="text-success">Rs. <script> document.write(total);</script>/-</b></td>
                            {% endif %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                <div class="divider"><br></div>
                    {% if request.user.is_staff %}
                        <a href="{% url 'genbill' table.id %}"><button id="billbtn1" class="btn btn-danger btn-xl" type="submit"><i class="ti ti-money"></i> Generate Bill</button></a>
                        <a href="{% url 'gentaxbill' table.id %}"><button id="billbtn2" class="btn btn-danger btn-xl" type="submit"><i class="ti ti-money"></i> Generate Tax Bill</button></a>
                    {% endif %}
                    <a href="{% url 'closeTable' table.id %}"><button id="closeTable" class="btn btn-success btn-xl" type="submit"><i class="fa fa-check"></i> Close Table</button></a>
                    <a href="{% url 'printOrd' table.id %}"><button id="btnPrint" class="btn btn-outline-success"><i class="fa fa-print"></i> Print Orders</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

        <script type="text/javascript" src="/static/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript">
                if (total===0){
                    $('#closeTable').show();
                    $('#billbtn1').hide();
                    $('#billbtn2').hide();
                    $('#btnPrint').hide();
                }
                else {
                    $('#closeTable').hide();
                    if(prtsts!=count){
                        console.log(prtsts,count)
                        $('#billbtn1').hide();
                        $('#billbtn2').hide();
                        $('#btnPrint').show()
                    }
                    else if(servests!=count){
                        console.log(prtsts,count)
                        $('#billbtn1').hide();
                        $('#billbtn2').hide();
                        $('#btnPrint').hide()
                    }
                    else {
                        if (total<5000){
                            $('#billbtn1').show();
                            $('#billbtn2').show();
                        }else{
                            $('#billbtn1').show();
                            $('#billbtn2').show();
                        }
                        $('#btnPrint').hide();
                    }
                }


        </script>
</div>

{#href="{% url 'editqty' o.id %}"#}

      {% for o in order %}

<div class="modal fade" id="editqty{{ o.id }}" tabindex="-1" role="dialog" aria-labelledby="mergeTable"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Quantity - <b class="text-danger">{{o.menu.title}}</b> in Table <b class="text-danger">{{ o.table.title }}</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'editqty' o.id %}" novalidate>
                    <div class="form-group">
                        <h5>Enter New quantity: <span class="text-danger">*</span></h5>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-danger" type="button" onclick="decrementValue{{ o.id }}();"><b> - </b></button>
                            </div>
                            <input type="number" name="qty" readonly class="form-control" id="ordervalue{{ o.id }}" value="{{o.quantity}}" required min="1" max="10">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" onclick="incrementValue{{ o.id }}();"><b> + </b></button>
                            </div>
                        </div>
                        <br>
                        <script type="text/javascript">
                        function incrementValue{{ o.id }}()
                        {
                            var value = parseInt(document.getElementById('ordervalue{{ o.id }}').value);
                            if(value<10){
                                value++;
                            }
                            document.getElementById('ordervalue{{ o.id }}').value = value;
                        }
                        function decrementValue{{ o.id }}()
                        {
                            var value = parseInt(document.getElementById('ordervalue{{ o.id }}').value);
                            if(value>1){
                                value--;
                            }
                            document.getElementById('ordervalue{{ o.id }}').value = value;
                        }
                        </script>
                    </div>
                    <div class="form-group">
                        <label for="remarks">Remarks:</label>
                        <input type="text" class="form-control" name="remarks" id="remarks" value="{{ o.remarks }}" >
                    </div>
                    {% csrf_token %}
                    <button class="btn btn-info btn-block" type="submit" onsubmit="return confirm('Are you sure want to change quantity?')"><i class="fa fa-edit"></i> Edit Quantity</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}
