<html>
<head>
<title>tabledetail.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #a9b7c6;}
.s1 { color: #a9b7c6;}
.s2 { color: #e8bf6a;}
.s3 { color: #bababa;}
.s4 { color: #a5c261;}
.s5 { color: #cc7832;}
.s6 { color: #6897bb;}
.s7 { color: #6a8759;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
tabledetail.html</font>
</center></td></tr></table>
<pre><span class="s0">{% extends 'base/base.html' %}</span>
<span class="s0">{% load mathfilters %}</span>
<span class="s0">{% block 'title' %} Blank Page {% endblock %}</span>

<span class="s0">{% block 'body' %}</span>
<span class="s2">&lt;div </span><span class="s3">class</span><span class="s4">=&quot;container-fluid&quot;</span><span class="s2">&gt;</span>
    <span class="s2">&lt;h3 </span><span class="s3">class</span><span class="s4">=&quot;text-dark mb-1 font-weight-bolder&quot;</span><span class="s2">&gt;</span><span class="s0">Table - {% for t in table %} {{t.title}} {% endfor %}</span><span class="s2">&lt;/h3&gt;</span>
    <span class="s2">&lt;h4 </span><span class="s3">class</span><span class="s4">=&quot;text-dark mb-1 font-weight-bolder&quot;</span><span class="s2">&gt;</span><span class="s0">Current Orders</span><span class="s2">&lt;/h4&gt;</span>
    <span class="s0">{% include 'component/message.html' %}</span>
    <span class="s2">&lt;div </span><span class="s3">class</span><span class="s4">=&quot;divider&quot;</span><span class="s2">&gt;&lt;p&gt;&lt;/p&gt;&lt;/div&gt;</span>
<span class="s2">&lt;/div&gt;</span>
<span class="s2">&lt;div </span><span class="s3">class</span><span class="s4">=&quot;container-fluid&quot;</span><span class="s2">&gt;</span>
    <span class="s2">&lt;div </span><span class="s3">class</span><span class="s4">=&quot;row&quot;</span><span class="s2">&gt;</span>
        <span class="s2">&lt;div </span><span class="s3">class</span><span class="s4">=&quot;col-md-6&quot;</span><span class="s2">&gt;</span>
            <span class="s2">&lt;div </span><span class="s3">class</span><span class="s4">=&quot;table-responsive&quot;</span><span class="s2">&gt;</span>
                <span class="s2">&lt;table </span><span class="s3">class</span><span class="s4">=&quot;table table-bordered&quot; </span><span class="s3">id</span><span class="s4">=&quot;dataTable&quot; </span><span class="s3">width</span><span class="s4">=&quot;100%&quot; </span><span class="s3">cellspacing</span><span class="s4">=&quot;0&quot;</span><span class="s2">&gt;</span>
                    <span class="s2">&lt;thead&gt;</span>
                    <span class="s2">&lt;tr&gt;</span>
                        <span class="s2">&lt;th&gt;</span><span class="s0">SN.</span><span class="s2">&lt;/th&gt;</span>
                        <span class="s2">&lt;th&gt;</span><span class="s0">Item</span><span class="s2">&lt;/th&gt;</span>
                        <span class="s2">&lt;th&gt;</span><span class="s0">Quantity</span><span class="s2">&lt;/th&gt;</span>
                        <span class="s2">&lt;th&gt;</span><span class="s0">Total</span><span class="s2">&lt;/th&gt;</span>
                        <span class="s2">&lt;th&gt;</span><span class="s0">Actions</span><span class="s2">&lt;/th&gt;</span>
                    <span class="s2">&lt;/tr&gt;</span>
                    <span class="s2">&lt;/thead&gt;</span>
                    <span class="s2">&lt;tbody&gt;</span>
                    <span class="s0">{{ forloop.counter }}</span>
                    <span class="s2">&lt;script </span><span class="s3">type</span><span class="s4">=&quot;text/javascript&quot;</span><span class="s2">&gt; </span><span class="s5">var </span><span class="s1">total = </span><span class="s6">0</span><span class="s5">; </span><span class="s2">&lt;/script&gt;</span>
                    <span class="s0">{% for o in order %}</span>
                    <span class="s2">&lt;tr&gt;</span>
                        <span class="s2">&lt;td&gt;</span><span class="s0">{{forloop.counter}}</span><span class="s2">&lt;/td&gt;</span>
                        <span class="s2">&lt;td&gt;</span><span class="s0">{{o.menu.title}}</span><span class="s2">&lt;/td&gt;</span>
                        <span class="s2">&lt;td&gt;</span><span class="s0">{{o.quantity}} | </span><span class="s2">&lt;a </span><span class="s3">href</span><span class="s4">=&quot;{% url 'editqty' o.id %}&quot;</span><span class="s2">&gt;&lt;i </span><span class="s3">class</span><span class="s4">=&quot;fa fa-edit&quot;</span><span class="s2">&gt;&lt;/i&gt;&lt;/a&gt;&lt;/td&gt;</span>
                        <span class="s2">&lt;td&gt;</span><span class="s0">{{o.quantity}} * {{o.menu.price}}</span>
                         <span class="s0">= {{o.quantity|mul:o.menu.price}}</span>
                            <span class="s2">&lt;script </span><span class="s3">type</span><span class="s4">=&quot;text/javascript&quot;</span><span class="s2">&gt; </span><span class="s5">var </span><span class="s1">total = total + {{o.quantity|mul:o.menu.price}}</span><span class="s5">;  </span><span class="s2">&lt;/script&gt;</span>
                        <span class="s2">&lt;/td&gt;</span>
                        <span class="s2">&lt;td&gt;&lt;a </span><span class="s3">href</span><span class="s4">=&quot;{% url 'delitem' o.id %}&quot; </span><span class="s3">onclick</span><span class="s4">=&quot;</span><span class="s5">return </span><span class="s1">confirm(</span><span class="s7">'Are you sure want to remove this item?'</span><span class="s0">)</span><span class="s5">;</span><span class="s4">&quot; </span><span class="s3">style</span><span class="s4">=&quot;</span><span class="s3">color</span><span class="s0">: </span><span class="s6">#ff032d</span><span class="s5">;</span><span class="s4">&quot;</span><span class="s2">&gt;&lt;i </span><span class="s3">class</span><span class="s4">=&quot;fa fa-minus-circle&quot;</span><span class="s2">&gt;&lt;/i&gt;</span><span class="s0">Remove Item</span><span class="s2">&lt;/a&gt;&lt;/td&gt;</span>
                    <span class="s2">&lt;/tr&gt;</span>
                    <span class="s0">{% endfor %}</span>
                    <span class="s2">&lt;/tbody&gt;</span>
                    <span class="s2">&lt;tfoot&gt;</span>
                        <span class="s2">&lt;tr&gt;</span>
                            <span class="s2">&lt;th </span><span class="s3">colspan</span><span class="s4">=&quot;3&quot;</span><span class="s2">&gt;</span><span class="s0">Total</span><span class="s2">&lt;/th&gt;</span>
                            <span class="s2">&lt;th&gt;</span><span class="s0">Rs. </span><span class="s2">&lt;script </span><span class="s3">type</span><span class="s4">=&quot;text/javascript&quot;</span><span class="s2">&gt; </span><span class="s1">document.write(total)</span><span class="s5">;  </span><span class="s2">&lt;/script&gt;&lt;/th&gt;</span>
                        <span class="s2">&lt;/tr&gt;</span>
                    <span class="s2">&lt;/tfoot&gt;</span>
                <span class="s2">&lt;/table&gt;</span>
            <span class="s2">&lt;/div&gt;</span>
        <span class="s2">&lt;/div&gt;</span>
    <span class="s2">&lt;/div&gt;</span>
<span class="s2">&lt;/div&gt;</span>
<span class="s2">&lt;div </span><span class="s3">class</span><span class="s4">=&quot;container-fluid&quot;</span><span class="s2">&gt;</span>
    <span class="s2">&lt;div </span><span class="s3">class</span><span class="s4">=&quot;divider&quot;</span><span class="s2">&gt;&lt;/div&gt;</span>
    <span class="s0">{% for t in table %}</span>
        <span class="s2">&lt;a </span><span class="s3">href</span><span class="s4">=&quot;{% url 'genbill' t.id %}&quot;</span><span class="s2">&gt;&lt;button </span><span class="s3">id</span><span class="s4">=&quot;billbtn&quot; </span><span class="s3">class</span><span class="s4">=&quot;btn btn-primary btn-xl&quot; </span><span class="s3">type</span><span class="s4">=&quot;submit&quot;</span><span class="s2">&gt;&lt;i </span><span class="s3">class</span><span class="s4">=&quot;fa fa-dollar-sign&quot;</span><span class="s2">&gt;&lt;/i&gt; </span><span class="s0">Generate Bill</span><span class="s2">&lt;/button&gt;&lt;/a&gt;</span>
    <span class="s0">{% endfor %}</span>
        <span class="s2">&lt;script </span><span class="s3">type</span><span class="s4">=&quot;text/javascript&quot; </span><span class="s3">src</span><span class="s4">=&quot;/static/assets/js/jquery.min.js&quot;</span><span class="s2">&gt;&lt;/script&gt;</span>
        <span class="s2">&lt;script </span><span class="s3">type</span><span class="s4">=&quot;text/javascript&quot;</span><span class="s2">&gt;</span>
                <span class="s5">if </span><span class="s0">(total===</span><span class="s6">0</span><span class="s0">){</span>
                    <span class="s1">$(</span><span class="s7">'#billbtn'</span><span class="s0">).hide()</span><span class="s5">;</span>
                <span class="s0">}</span>
                <span class="s5">else </span><span class="s0">{</span>
                    <span class="s1">$(</span><span class="s7">'#billbtn'</span><span class="s0">).show()</span><span class="s5">;</span>
                <span class="s0">}</span>
        <span class="s2">&lt;/script&gt;</span>
    <span class="s2">&lt;/form&gt;</span>
<span class="s2">&lt;/div&gt;</span>

<span class="s0">{% endblock %}</span></pre>
</body>
</html>